# json 데이터 불러오기 (kosis)

In [1]:
import pandas as pd

In [2]:
jsonAddress = "https://kosis.kr/openapi/Param/statisticsParameterData.do?method=getList&apiKey=YWE1MDYxNDM5MjA2NzAwYTg0Njg2YTVmMjkxMWJhYzM=&itmId=T001+&objL1=00+11+21+22+23+24+25+26+29+31+32+33+34+35+36+37+38+39+&objL2=A10+A11+A12+A13+A14+A15+&objL3=DL00+DL10+DL11+DL12+DL13+DL14+DL15+DL16+DL17+DL18+DL20+&objL4=&objL5=&objL6=&objL7=&objL8=&format=json&jsonVD=Y&prdSe=Y&newEstPrdCnt=3&orgId=101&tblId=DT_1MA0028"

In [3]:
indata = pd.read_json(jsonAddress)

In [4]:
indata

,TBL_NM,ITM_NM_ENG,ITM_ID,ORG_ID,UNIT_NM_ENG,C1_OBJ_NM,C2_OBJ_NM,C3_OBJ_NM,C2,C1_NM_ENG,...,C1_OBJ_NM_ENG,C2_OBJ_NM_ENG,C3_OBJ_NM_ENG,C3,DT,PRD_SE,C1,C1_NM,C2_NM,C3_NM
0,시도별 금융권 대출잔액 수준별 인구,Population,T001,101,1000Persons,시도별,연령별,금융권 대출잔액 수준별,A10,Whole country,...,By province,By age,By depl level,DL00,19979.1,A,0,전국,계,계
1,시도별 금융권 대출잔액 수준별 인구,Population,T001,101,1000Persons,시도별,연령별,금융권 대출잔액 수준별,A10,Whole country,...,By province,By age,By depl level,DL00,20086.4,A,0,전국,계,계
2,시도별 금융권 대출잔액 수준별 인구,Population,T001,101,1000Persons,시도별,연령별,금융권 대출잔액 수준별,A10,Whole country,...,By province,By age,By depl level,DL00,20182.1,A,0,전국,계,계
3,시도별 금융권 대출잔액 수준별 인구,Population,T001,101,1000Persons,시도별,연령별,금융권 대출잔액 수준별,A10,Whole country,...,By province,By age,By depl level,DL10,11252.8,A,0,전국,계,부채있음
4,시도별 금융권 대출잔액 수준별 인구,Population,T001,101,1000Persons,시도별,연령별,금융권 대출잔액 수준별,A10,Whole country,...,By province,By age,By depl level,DL10,11357.2,A,0,전국,계,부채있음
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3559,시도별 금융권 대출잔액 수준별 인구,Population,T001,101,1000Persons,시도별,연령별,금융권 대출잔액 수준별,A15,Jeju,...,By province,By age,By depl level,DL18,2.9,A,39,제주특별자치도,60-64세,3억원 이상
3560,시도별 금융권 대출잔액 수준별 인구,Population,T001,101,1000Persons,시도별,연령별,금융권 대출잔액 수준별,A15,Jeju,...,By province,By age,By depl level,DL18,3.7,A,39,제주특별자치도,60-64세,3억원 이상
3561,시도별 금융권 대출잔액 수준별 인구,Population,T001,101,1000Persons,시도별,연령별,금융권 대출잔액 수준별,A15,Jeju,...,By province,By age,By depl level,DL20,22.3,A,39,제주특별자치도,60-64세,부채없음
3562,시도별 금융권 대출잔액 수준별 인구,Population,T001,101,1000Persons,시도별,연령별,금융권 대출잔액 수준별,A15,Jeju,...,By province,By age,By depl level,DL20,22.2,A,39,제주특별자치도,60-64세,부채없음
3563,시도별 금융권 대출잔액 수준별 인구,Population,T001,101,1000Persons,시도별,연령별,금융권 대출잔액 수준별,A15,Jeju,...,By province,By age,By depl level,DL20,22.4,A,39,제주특별자치도,60-64세,부채없음